/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)

*/

 /* ----------------------- css for page index ------------------------------ */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  color: #333333;
  font-size: 1.6rem;
}

input,
button {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: 1.6rem;
  outline: none;
}

button {
  cursor: pointer;
}

.hienhien{
  border: none;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #120414;
  padding: 2.4rem 0;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  color: white;
}
.header-logo-nike {
  width: 10rem;
  height: 3rem;
  cursor: pointer;
}
.header-nav {
  display: flex;
  align-items: space-between;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header-nav-item {
  margin-right: 3rem;
  position: relative;
  cursor: pointer;
}
.header-nav-item:hover {
  color: #fe6b5e;
  transition: all 0.25s linear;
}
.header-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header-group-item {
  margin-left: 3rem;
  color: white;
  cursor: pointer;
}
.header-group-item:hover {
  color: #fe6b5e;
  transition: all 0.25s linear;
}
.header-group-item .tim{
  width: 150px;
  border-radius: 5px;
  padding-left: 5px;
  visibility: hidden;
}
.header-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.slider-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.content {
  padding: 7rem 5rem;
  color: #120414;
  background: rgba(0, 0, 0, 0.9) url(/images/banner2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-heading {
  text-transform: uppercase;
  font-size: 4rem;
  display: block;
  font-weight: 600;
  letter-spacing: 1.2rem;
  margin-bottom: 1rem;
  position: relative;
  padding-left: 3rem;
  padding-right: 2rem;
  color: white;
}
.content-heading::before {
  content: "";
  position: absolute;
  color:#fff;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.content-heading::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  right: 0;
  top: 50%;
  color:#fff;
  transform: translateY(-50%);
}
.content-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.content-desc {
  display: block;
  margin-bottom: 3rem;
  color: #fff;
}
.content-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -2rem;
}
.content-item {
  width: calc(25% - 2rem);
  margin-left: 2rem;
  margin-bottom: 3rem;
}
.content-image {
  height: 30rem;
  width: 30rem;
  object-fit: cover;
}

.footer {
  position: relative;
  padding: 6rem 4rem;
  color: white;
  font-size: 1.4rem;
}
.footer::before {
  content: "";
  position: absolute;
  background: url(/images/footer-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-index: -1;
}
.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -2;
}
.footer-content {
  display: flex;
  align-items: space-between;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: -3rem;
}
.footer-column {
  margin-left: 3rem;
  width: calc(30% - 3rem);
}
.footer-column:first-child {
  width: calc(50% - 3rem);
}
.footer-column:nth-child(2) {
  width: calc(20% - 3rem);
}
.footer-logo-nike {
  width: 15rem;
  height: 5rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.footer-contact-item {
  margin-bottom: 2rem;
  display: flex;
}
.footer-contact-title {
  padding-left: 2rem;
  line-height: 1.5;
  display: inline-block;
}
.footer-payment-link {
  display: inline-block;
  margin-right: 0.5rem;
}
.footer-payment-image {
  object-fit: cover;
}
.footer-heading {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 2rem;
}
.footer-nav-link {
  color: white;
  display: block;
  margin-bottom: 1.5rem;
  transition: all 0.25s linear;
  cursor: pointer;
}
.footer-nav-link:hover {
  color: #fe6b5e;
}
.footer-social-list {
  margin-bottom: 2rem;
}
.footer-social-icon {
  color: white;
  font-size: 3rem;
  margin-right: 1.5rem;
}
.footer-form {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.footer-form-input {
  padding: 1rem 1rem 1rem 1.5rem;
}
.footer-form-button {
  background-color: #3f3fdb;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  width: 100%;
  padding: 0 2rem;
}
.footer-angle-down {
  display: none;
}

a.login-menu-link
{
  color: #000;
}

a.login-menu-link:hover
{
  color: #fe6b5e;
}
@media screen and (max-width: 1023px) {
  .header {
    padding: 2.4rem 3rem;
  }
  .header-middle {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    width: 30rem;
    z-index: 99;
    transform: translateX(-100%);
    transition: all 0.25s ease;
  }
  .header .header-middle.is-expand {
    transform: translateX(0);
  }
  .header-nav {
    display: block;
    padding: 2rem;
  }
  .header-nav-item {
    margin-right: 0;
    margin-bottom: 3rem;
  }
  .header-nav-item:hover .header-nav-link {
    color: #fe6b5e;
    transition: all 0.25s linear;
  }
  .header-nav-link {
    color: #333333;
  }
  .header-toggle {
    display: inline-block;
    margin-left: 3rem;
    align-self: center;
    transition: all 0.25s linear;
  }
  .header-toggle:hover {
    color: #fe6b5e;
  }
  .content {
    padding: 4rem 3rem;
  }
  .content-image {
    height: 15rem;
    width: 15rem;
  }
  .footer {
    padding: 4rem 3rem;
  }
  .footer-form-input {
    width: 80%;
  }
  .footer-form-button {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding: 2rem 1rem;
  }
  .header-logo-nike {
    width: 7rem;
    height: 2rem;
  }
  .content {
    padding: 2rem 1rem;
  }
  .content-heading {
    font-size: 3rem;
  }
  .content-desc {
    font-size: 1.2rem;
  }
  .footer {
    padding: 2rem 1rem;
  }
  .footer-content {
    display: block;
    margin-left: 0;
  }
  .footer-column {
    margin-left: 0;
    width: 100%;
    margin-bottom: 2rem;
  }
  .footer-column:first-child {
    width: 100%;
  }
  .footer-column:nth-child(2) {
    width: 100%;
  }
  .footer-logo-nike {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 25rem;
    height: 7rem;
  }
  .footer-angle-down {
    display: inline-block;
    margin-left: 0 auto;
  }
}

/* --------------------------- css for item banner ------------------------------ */

.banner-top {
  position: relative;
}
.banner-top::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(24, 24, 24, 0.6);
}
.banner-image {
  min-height: 304px;
}
.banner-content {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.banner-content-heading {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1rem;
  letter-spacing: 0.5rem;
}
.banner-content-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.banner-content-item {
  display: inline-block;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}
.banner-content-item:first-child::after {
  content: "/";
  padding: 0 0.5rem;
  color: white;
}
.banner-content-item:hover {
  color: #fe6b5e;
  transition: all 0.25s linear;
}

.introduce {
  padding: 5rem 0;
}
.introduce-top {
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 1.4;
}
.introduce-bottom {
  line-height: 1.4;
  word-spacing: 0.5rem;
}
.introduce-bottom:not(:last-child) {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1023px) {
  .banner-content-heading {
    font-size: 2rem;
    text-align: center;
    line-height: 1.4;
  }
  .introduce {
    padding: 4rem 3rem;
  }
}
@media screen and (max-width: 767px) {
  .banner-content-heading {
    display: none;
  }
  .banner-image {
    min-height: 0;
  }
  .banner-content-item {
    font-size: 1rem;
  }
}

/* ---------------------------- css for page news ----------------------------- */
.news {
  padding: 5rem 0;
}
.news-list {
  margin-left: -2rem;
  display: flex;
  align-items: stretch;
  justify-content:start;
  flex-wrap: wrap;
}
.news-item {
  width: calc(25% - 2rem);
  margin-left: 2rem;
  margin-bottom: 2rem;
  /* float: left; */
}
.news-image {
  width: 100%;
  height: 24rem;
  object-fit: cover;
}
.news-content {
  margin-top: 2rem;
}
.news-heading {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1rem;
  color: #333333;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.dropdown-content
{
  z-index: 100;
}
.news-author {
  color: #999999;
  margin-right: 1rem;
}
.news-date {
  color: #999999;
}
.news-desc {
  color: #999999;
  margin-top: 1rem;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

@media screen and (max-width: 1023px) {
  .news {
    padding: 4rem 3rem;
  }
}
@media screen and (max-width: 767px) {
  .news {
    padding: 2rem 1rem;
  }
  .news-list {
    display: block;
    margin-left: 0;
  }
  .news-item {
    width: 100%;
    margin-left: 0;
  }
}

/* ------------------------ css for page contact -------------------------------- */

.contact {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-main {
  box-shadow: 0 0 10px #cccccc;
  padding: 4rem 2rem;
}
.contact-heading {
  font-size: 2.4rem;
  color: #333333;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1rem;
}
.contact-desc {
  font-size: 1.4rem;
  line-height: 1.4;
}
.contact-form-label {
  color: #333333;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.4rem;
}
.contact-form-input {
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  border: 1px solid #e5e5e5;
  background-color: #f8f8f8;
}
.contact-form-input:nth-child(4) {
  min-height: 10rem;
  background-color: red;
}
.contact-form-submit {
  margin-top: 2rem;
  padding: 2rem 3rem;
  background-color: #3f3fdb;
  border: 1px solid #3f3fdb;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}

@media screen and (max-width: 1023px) {
  .contact {
    padding: 4rem 3rem;
  }
  .contact-form-submit {
    padding: 1rem 2rem;
    font-size: 1.4rem;
  }
}

/* -----------------------------css for page product ------------------------------ */

.product {
  padding: 2rem 0;
}
.product-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.product-left {
  width: 25%;
}
.product-right {
  width: 75%;
  margin-left: 3rem;
}
.product-group {
  padding-bottom: 1.5rem;
}
.product-title {
  font-size: 1.4rem;
  color: #333333;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1rem;
  display: inline-block;
}
.product-sort {
  font-size: 1.3rem;
}
.product-sort-item {
  margin-bottom: 1rem;
}
.product-sort-item:hover .product-sort-link {
  color: #fe6b5e;
}
.product-sort-item:hover .product-sort-check {
  border: 1px solid #fe6b5e;
}
.product-sort-link {
  color: #999999;
}
.product-sort-check {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  display: inline-block;
  border: 1px solid #cccccc;
  margin-right: 1rem;
}
.product-type {
  font-size: 1.3rem;
}
.product-type-item {
  color: #999999;
  position: relative;
  margin-bottom: 1rem;
}
.product-type-item:hover {
  color: #fe6b5e;
}
.product-type-item:hover .product-type-label::before {
  border: 1px solid #fe6b5e;
}
.product-type-input {
  display: none;
}
.product-type-input:checked + .product-type-input-type-label::before {
  background-color: #fe6b5e;
}
.product-type-label {
  /* font-weight:bold; */
  color: #cccccc;
  padding-left: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}
.product-type-label::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border: 1px solid #cccccc;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.product-size {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -0.5rem;
}
.product-size-item {
  font-size: 1.3rem;
  color: #999999;
  width: calc(25% - 0.5rem);
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.product-size-item:hover .product-size-number {
  border: 1px solid #fe6b5e;
  color: #fe6b5e;
}
.product-size-input {
  display: none;
}
.product-size-number {
  display: inline-block;
  border: 1px solid #cccccc;
  width: 100%;
  height: 2.5rem;
  width: 100%;
  height: 2.5rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.product-size-label {
  cursor: pointer;
}
.product-price {
  font-size: 1.3rem;
}
.product-price-item {
  color: #999999;
  position: relative;
  margin-bottom: 1rem;
}
.product-price-item:hover {
  color: #fe6b5e;
}
.product-price-item:hover .product-price-label::before {
  border: 1px solid #fe6b5e;
}
.product-price-input {
  display: none;
}
.product-price-input:checked + .product-price-input-price-label::before {
  background-color: #fe6b5e;
}
.product-price-label {
  padding-left: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}
.product-price-label::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border: 1px solid #cccccc;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.product-category-list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -3rem;
}
.product-category-item {
  width: calc(33.33% - 3rem);
  margin-left: 3rem;
  margin-bottom: 3rem;
}
.product-category-image {
  height: 24rem;
  /* width: 100%; */
}
.product-category-info {
  margin-top: 1rem;
}
.product-category-name {
  font-size: 1.4rem;
  color: #333333;
}
.product-category-name:hover {
  color: #fe6b5e;
}
.product-category-heading {
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  /* position: relative; */
  max-width: 257.47px;
  max-height: 52.79px;
}
.product-category-price {
  color: #fe6b5e;
  font-weight: 600;
}
.product-filter {
  display: none;
}

.btn-expand {
  display: none;
  z-index: 3;
  position: absolute;
  right: 0px;
  bottom: 0px;
  /* padding: 3px; */
  /* background-color: red; */
  color: blue;
  font-size:medium;
}

.btn-show {
  display: block;
}

@media screen and (max-width: 1023px) {
  .product {
    padding: 2rem;
  }
  .product-left {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    width: 30rem;
    z-index: 99;
    transform: translateX(100%);
    transition: all 0.25s ease;
  }
  .product-filter {
    display: inline-block;
    position: fixed;
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
    background-color: #3f3fdb;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    cursor: pointer;
    color: white;
    transition: all 0.25s ease;
    z-index: 999;
  }
  .product .product-left.is-show {
    transform: translateX(0);
  }
  .product-right {
    width: 100%;
    margin-left: 0;
    padding: 4rem 3rem;
  }
}
@media screen and (max-width: 767px) {
  .product {
    padding: 1rem;
  }
  .product-right {
    padding: 2rem 1rem;
  }
  .product-category-list {
    margin-left: -2rem;
  }
  .product-category-item {
    width: calc(50% - 2rem);
    margin-left: 2rem;
  }
  .product-category-name {
    font-size: 1.1rem;
  }
  .product-category-price {
    font-size: 1.3rem;
  }
  .product-filter {
    top: 30%;
  }
}

/* ------------------------- css for page login --------------------------------- */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  background-color: white;
  min-height: 62rem;
}
.login-wrapper {
  padding: 1rem 2rem 4rem 2rem;
  box-shadow: 0 0 10px #cccccc;
}
.login-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 1.6rem;
  font-weight: 600;
  font-size: 1.5rem;
}
.login-menu-item {
  padding: 1rem 12rem;
  color: #120414;
  cursor: pointer;
}
.login-menu-item:not(:last-child) {
  border-right: 1px solid #cccccc;
}
.login-menu-item:hover {
  color: #fe6b5e;
  transition: all 0.25s ease;
}
.login-form-group {
  margin-bottom: 2rem;
}
.login-form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #333333;
  font-weight: 600;
}
.login-form-input {
  display: block;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 1rem 2rem;
  background-color: #f8f8f8;
}
.login-form-forget {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  display: block;
}
a.login-form-forget
{
  color:#337ab7;
}
.login-form-submit {
  width: 100%;
  padding: 1rem 0;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: 0.5rem;
}
.login-form-submit:hover {
  background-color: #3f3fdb;
  transition: all 0.25s linear;
}

@media screen and (max-width: 767px) {
  .login {
    min-height: auto;
  }
  .login-menu-item {
    padding: 1rem 4rem;
  }
  .login-menu-list {
    font-size: 1.5rem;
  }
}

/* -------------css for page register--------------------- */

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  background-color: white;
}
.register-wrapper {
  padding: 1rem 2rem 4rem 2rem;
  box-shadow: 0 0 10px #cccccc;
}
.register-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 1.6rem;
  font-weight: 600;
  font-size: 1.5rem;
}
.register-menu-item {
  padding: 1rem 12rem;
  color: #120414;
  cursor: pointer;
}
.register-menu-item:not(:last-child) {
  border-right: 1px solid #cccccc;
}
.register-menu-item:hover {
  color: #fe6b5e;
  transition: all 0.25s ease;
}
.register-form-group {
  margin-bottom: 2rem;
}
.register-form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #333333;
  font-weight: 600;
}
.register-form-input {
  display: block;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 1rem 2rem;
  background-color: #f8f8f8;
}
.register-form-submit {
  width: 100%;
  padding: 1rem 0;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: 0.5rem;
}
.register-form-submit:hover {
  background-color: #3f3fdb;
  transition: all 0.25s linear;
}

@media screen and (max-width: 767px) {
  .register {
    min-height: auto;
  }
  .register-menu-item {
    padding: 1rem 4rem;
  }
  .register-menu-list {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=app.css.map */

/* ----------------- css for product details ---------------------------------------------------- */

.banner-detail {
  position: relative;
  min-height: 50px;
  background-color: #ededed;
  display:flex;
}
.banner-detail-content {
  position: absolute;
  left: 10%;
  top: 40%;
}
.banner-detail-list {
  display: flex;
}

.banner-detail-list li a
{
  color: #0055aa;
}

@media screen and (max-width: 1023px)
{
  .banner-detail-content {
    position: absolute;
    left: 10%;
    top: 40%;
  }
}
@media screen and (max-width: 767px)
{
  .banner-detail-content {
    position: absolute;
    left: 5%;
    top: 10%;
  }
}

.product-detail
{
  /* margin: 50px; */
  background-color: #ededed;
  position: relative;
  /* border: 2px solid #fff;
  border-radius: 12px; */

}
.product-detail-order {
  position:relative;
  display:flex;
  justify-content: space-between;
  align-items: stretch;
  top:5%;
  left: 5%;
  width: 90%;
  /* right: 5%; */
}
.order-left {
  width: 40%; 
  /* padding:10px; */
  background-color: #fff;
}
.order-left img{
  width: 100%;
}
.order-right {
  width: 60%;
  background-color:#fff;
  padding:10px;
}
.title-form
{
  font-weight: 500;
  font-size:large;
  line-height: 2rem;
  word-wrap: break-word;
}
.order-detail
{
  padding: 10px;
}
.form-order{
  display:flex;
  padding:10px 50px;
  break-inside: avoid;
}
.form-order-left {
  width:25%;
  font-size:15px;
  font-weight:normal;
  color:#757575
}
.form-order-left label
{
  margin: 10px;
}
.form-order-right {
  /* padding:10px; */
  width:75%;
}
input.form-order-right {
  border: 1px solid #cccccc;
  border-radius: 5px;
  /* padding: 10px; */
  max-width:60%;
  font-size:15px;
  font-weight:normal;
  color:#757575
}

.boder-option
{
  border: 1px solid #cccccc;
  border-radius: 5px;
  max-width:60%;
  font-size:15px;
  font-weight:normal;
  color:#757575
}

.order-submit
{
  display:flex;
  align-items:stretch;
  justify-content:space-between;
}
.order-submit .left
{
  /* display:flex; */
  justify-self:center;
  padding-left:10%;
  width:50%;
}
.order-submit .right
{
  width:50%;
}
.order-submit-button
{
  border: 1px solid #ee4d2d;
  border-radius: 5px;
  padding:10px;
}
.order-submit-button-right{
  background-color: #ee4d2d;
}
.order-submit-button-left
{
  background-color:#ffeee8;
}
.product-details
{
  margin:20px 0;
  background-color:#fff;
}
.product-details-header
{
  background-color:#ededed;
  width: 100%;
  padding:10px;
  border: 1px solid #ededed;
  border-radius: 5px;
  break-inside: avoid;
}
.product-details
{
  position:relative;
  /* display:flex; */
  justify-content: space-between;
  align-items: stretch;
  top:5%;
  left: 5%;
  width: 90%;
  padding:20px 30px;
}
.product-details-item
{
  /* margin:20px; */
  display:flex;
  position: relative;
  width: 100%;
}
.product-details-item-left
{
  width:20%;
  color:rgb(0 0 0 / 40%)
}
.product-details-item-left,.product-details-item-right
{
  margin:5px 0;
  padding:5px 0;
}
.product-details-item-right a{
  color:#0055aa;
  text-decoration: none;
}
ul.dot{
  list-style-type:circle;
  margin-left: 20px;
}
.dot li{
  padding: 5px;
}
.product-end-price
{
  color: #fe6b5e;
  font-weight: 600;
  /* background-color:#ededed; */
  font-size:larger;
  width: 100%;
  padding:10px;
  /* padding-left: 40%; */
}
.countdown
{
  max-width: 50%;
}
#count
{
    max-width: 50px;
    /* height: 25px; */
    position: relative;
}
.countdown button{
  transform: translateY(-20%);
  background-color:#fff;
  border: 2px solid #ccc;
}
.countdown input
{
  border: 2px solid #ccc;
  padding: 6px;
  transform: translateY(-18%);
  width: 50px;
  min-height: 36px;
  text-align: center;
}

/* @media screen and (max-width: 767px) */
@media screen and (max-width: 1023px)
{
  .order-submit .left
  {
    display:flex;
    justify-self:center;
    padding-left:0;
    width:50%;
  }
  .order-submit .right
  {
    position: relative;
    right: 0px;
    width:50%;
  }
  .order-submit .right input
  {
    position: absolute;
    right: 0px;
  }
}
@media screen and (max-width: 767px)
{
  .product-detail-order {
    position:relative;
    display:block;
    top:5%;
    left: 5%;
    width: 90%;
    /* right: 5%; */
  }
  .order-left {
    width: 100%;
    /* padding:10px; */
    background-color: #fff;
  }
  .order-right {
    width: 100%;
    background-color:#fff;
    padding:10px;
  }
  .order-submit-button
  {
    border: 1px solid #ee4d2d;
    border-radius: 5px;
    padding:5px;
  }
  .order-submit .left
  {
    /* display:flex; */
    justify-self:center;
    padding-left:0;
    width:50%;
    position: relative;
    min-height:28px;
  }
  .order-submit .right
  {
    position: relative;
    width:50%;
    min-height: 28px;
    margin-left: 5px;
  }
  .order-submit .left input, .order-submit .right input
  {
    position:absolute;
  }
  .order-submit .left input
  {
    right: 0px;
    min-width: 100%;
  }
  .order-submit .right input
  {
    left: 0px;
    max-width: 100%;
  }
  .order-submit.form-order{
    display:flex;
    padding:10px 0px;
    break-inside: avoid;
  }
  .form-order{
    display:flex;
    padding:10px 10px;
    break-inside: avoid;
  }
  .countdown button{
    padding: 6px 6px;
  }
  .countdown
  {
    max-width: 100%;
  }
  .product-details-item-left,.product-details-item-right
  {
    margin:5px 5px;
    padding:5px 5px;
  }
  .form-order-right {
    margin-left: 10px;
  }
}


.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.search-box {
  width: 100%;
  height: 25%;
  border-radius: 25px;
  border: 2px solid #333;
  padding: 10px;
  font-size: 20px;
  color: #000;
}

.search-button {
  width: 25%;
  height: 25%;
  background-color: #333;
  color: #fff;
  border-radius: 25px;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}
