.sliderwrapper{
position: relative; /*leave as is*/
overflow: hidden; /*leave as is*/
border: 1px solid #fff;
border-bottom-width: 6px;
width: calc(100%-12px); /*width of featured content slider*/
height: 250px;
border: 1px solid #cccccc;
margin: 5px;
border-radius: 5px;
}



.sliderwrapper .contentdiv{
visibility: hidden; /*leave as is*/
position: absolute; /*leave as is*/
left: 0; /*leave as is*/
top: 0;  /*leave as is*/
padding: 5px;
background: white;
width: calc(100%); /*width of content DIVs within slider. Total width should equal slider's inner width (390+5+5=400) */
height: 100%;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
/* text-align: center; */
}

.sliderwrapper .contentdiv img
{
    display: block;
    width: 100%;
    max-height: 248px;
    /* float: center; */
    margin-left:auto;
    margin-right:auto;
}

.pagination{
max-height: 200px; /*Width of pagination DIV. Total width should equal slider's outer width (400+10+10=420)*/
text-align: right;
background: white;
padding: 5px;
display: flex;
border: 1px solid #cccccc;
width: calc(100%-12px);
/* max-height: 100px; */
margin:0 5px;
}

.pagination a{
padding: 0 5px;
text-decoration: none; 
color: #00007D;
background: white;
width: 50%;
margin:5px ;
}

.pagination a:hover, .pagination a.selected{
color: #000;
border: 2px solid #ee4d2d;
}

